.game-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    user-select: none;
}

.icon-img {
    width: 1em;
    height: 1em;
    object-fit: contain;
}