node_modules
.DS_Store
dist
dist-ssr
build
out
coverage
.cache
.temp
.tmp
.vite
.parcel-cache
.turbo
*.local
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

release/
*.zip
*.7z
*.tar
*.tgz
*.gz
*.rar
